$color-white: #fff;
$color-black: #343a40;
$color-primary: #1977cc;
$medium-blue: #1c84e3;
$light-blue: #5faaea;
$dark-blue: #2c4964;
$social-link-color: #437099;
$gray: #848484;
$lightgary: #999;
$light-blue-bg: #f1f7fd;
$light-border-color: #ebf1f6;
$sky-color: #b2c8dd;
$smalldot-color: #ddd;
$social-link-bgcolor: #d6e9fa;